# Data (do not commit)
src/mlproject/data/*.csv
src/mlproject/data/*.parquet

# Python junk
__pycache__/
*.egg-info/

# Virtual env
.venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Packaging artifacts
*.egg-info/
build/
dist/

# Virtual env
.venv/

# UV
.uv/
uv.lock

# Data & outputs (do NOT commit)
src/mlproject/data/*.csv
src/mlproject/data/*.parquet
outputs/
artifacts/

# OS
.DS_Store


# local installers
aws/
awscliv2.zip
touch/
